<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form </h1>
    <form method="get" action="analyze/">
        <textarea name="text" id="textid" cols="40" rows="10" style="height: 155px; width: 1385px;"></textarea>
        <br>
        <input type="checkbox" name="fullcaps" >Full Caps <br>
        <input type="checkbox" name="newlineremover" >Remove New Line <br>
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <input type="checkbox" name="charcount">Count No of Charaters <br>
        <button type="submit">Analyse</button>
    </form>
    
</body>
</html>